<div class="row justify-content-md-center profile-wrapper" style="margin-right: -200px;">
  <div class="col-md-4 text-center">
    <%= image_tag @user.avatar,class: "round-img qani", style: 'border-radius: 50% 50% 50% 50%; height: 140px; margin-left: 180px;' %>
  </div>
  <style>
  .qani{
      height: 140px;
  }

  </style>
  <div class="col-md-8">
    <div class="row">
<main>
    <%= render "profile/user", user: @user %>
</main>

  <div class="profile-tab">
    
    <nav>
      <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-posts-tab" data-toggle="tab" href="#nav-posts" role="tab" aria-controls="nav-posts" aria-selected="true">POSTS</a>
        <a class="nav-item nav-link" id="nav-saved-tab" data-toggle="tab" href="#nav-saved" role="tab" aria-controls="nav-saved" aria-selected="false">SAVED</a>
      </div>
    </nav>
    
    <div class="tab-content pb-3" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-posts" role="tabpanel" aria-labelledby="nav-posts-tab">
         <div class="row">
         
         <% @posts.each do |aziz| %>
         <% if aziz.user.id == @user.id %>
              <%= aziz.body %>
         <% end %>
         <% end %>

        <% @bookmarks.each do |bookmark| %>
        <% if bookmark.user.id == @user.id %>
        <h1><%= bookmark.post.body %></h1>
          
        <% end %>
         <% end %>
        </div> 
      </div>
      <div class="tab-pane fade" id="nav-saved" role="tabpanel" aria-labelledby="nav-saved-tab">
        <div class="row">
          <%# <%= render "post", {posts: @saved} if @user == current_user %> 
        </div>
      </div>
    </div>
  </div>
</div>