<h4 ><%= user.username %> 

<% if user == current_user %>
 <%= link_to "Edit Profile", edit_user_registration_path, style:"background-color: transparent; border: 1pxsolidrgb(var(--ig-stroke)); color: rgb(var(--ig-secondary-button)); text-decoration: none;" %></h4>
<% elsif current_user %>
    <%= render 'profile/follow_button', user: user %>
<% end %>


<style>
.aziz{
color: blue;

}
</style>
<br />
<%= render 'profile/follower_count', user: user %>
<div><%= user.followees.count %> following</div>

