<% if user.id == 3 %>
<h1><%= user.email %> <i class="bi bi-patch-check aziz"></i></h1>
  <% else %>
<h1><%= user.email %></h1>

<% end %>
<style>
.aziz{
color: blue;

}
</style>
<br />
<%= render 'profile/follower_count', user: user %>
<div><%= user.followees.count %> following</div>

<% if user == current_user %>
    <%= link_to "Edit Profile", edit_user_registration_path %>
<% elsif current_user %>
    <%= render 'profile/follow_button', user: user %>
<% end %>